<html>
<head>
  <title>Free Times</title>
</head>
<body>

<h1>Event List</h1>

{% if g.events is defined %}
  <p>Deselect any events you would like to ignore</p>

  <form action="/selectevents" method="post">
    {% for event in g.events %}
      <input type="checkbox" name="{{event.name}}" checked="checked" value="checked">{{event.name}}><br>
    {% endfor %}
    <input type="submit" value="Get New Times">
{% endif %}

<h2>Free Times</h2>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}




</body> 
</html>