<html>
<head>
  <title>Free Times</title>
</head>
<body>


<h2>Free Times</h2>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% if session.ordered_free_time is defined %}
  {% for day in session.ordered_free_time %}
    {% if day is '[]' %}
      <p> Busy all day </p>
    {% else %}
      <li>{{day}}</li>
    {% endif %}
  {% endfor %}
{% endif %}

</body> 
</html>