<html>
<head>
  <title>Free Times</title>
</head>
<body>


<h2>Possible Meeting Times</h2>

<form method="get" action="/FIXME">
    <button type="submit">Add Busy Times</button>
</form>

{% if session.group_link is defined %}
  <p>Share this link with your group members {{session.group_link}}</p>
{% endif %}

<script>


{% if session.ordered_free_time is defined %}
  {% for day in session.ordered_free_time %}
    {% if day[0] is defined %}
      <p>Free Times on {{day[0]['day']}}:</p>
    {% endif %}
    {% for time in day %}
      <li>{{time['begin']}} to {{time['end']}}</li>
    {% endfor %}
  {% endfor %}
{% endif %}

</body> 
</html>